<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Adding layouts to our Flask webapp (aka headers and footers)</title>
  <meta name="description" content="">

  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" crossorigin="anonymous">
  
  <link rel="stylesheet" href="/css/new.css">
  
  <link rel="canonical" href="http://jonathansoma.com/tutorials/webapps/layouts/">
  <link rel="alternate" type="application/rss+xml" title="Things by Jonathan Soma" href="../../../feed.xml" />
  <link rel="stylesheet" href="/css/pygments/zenburn.css"></link>
  
  <meta property=”og:description” content=”” />
  <meta property="og:title" content="Adding layouts to our Flask webapp (aka headers and footers)">
  <meta property="twitter:title" content="Adding layouts to our Flask webapp (aka headers and footers)">
  <meta property=”twitter:creator:id” content=”15921550” />
  <meta property=”twitter:description” content=”” />
  <meta property=”twitter:creator” content=”dangerscarf” />
</head>


  <body>
    <div id="wrapper">
      <div class="top-nav">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <strong><a href="/">Jonathan Soma</a></strong> 
              <div class="pull-right">
                <a target="_new" href="http://twitter.com/dangerscarf"><i class="fa fa-twitter fa-lg"></i></a>
                <a target="_new" href="https://instagram.com/dangerscarf"><i class="fa fa-instagram fa-lg"></i></a>
                <a target="_new" href="https://github.com/jsoma"><i class="fa fa-github fa-lg"></i></a>
                <a target="_new" href="https://tinyletter.com/jsoma"><i class="fa fa-pencil fa-lg"></i></a>
                <a target="_new" href="mailto:jonathan.soma@gmail.com"><i class="fa fa-envelope fa-lg"></i></a>
              </div>
             </form>
            </div>
          </div>
        </div>
      </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
          
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                      
                      
<p class="breadcrumbs"><a href="/">Home</a> &gt; <a href="../..">Tutorials</a> &gt; <a href="..">Web Applications for You and Me</a> &gt;  Adding layouts to our Flask webapp (aka headers and footers)</p>



                      <p><strong>This tutorial is out of date!</strong> <a href="http://jonathansoma.com/tutorials/flask-sqlalchemy-mapbox/">Try my longer, updated Flask-SQLite webapp tutorial here</a></p>

<h1 id="adding-layouts-to-our-flask-webapp">Adding layouts to our Flask webapp</h1>

<p>Need to share a header with every single page? Want to protect your hard work with an intimidating copyright footer on every page? Layouts are for you!</p>

<p>There are two simple steps to making a layout work (or: see the <a href="http://flask.pocoo.org/docs/0.10/tutorial/templates/">Flask documentation tutorial</a>).</p>

<h2 id="step-1-make-your-layout">Step 1. Make your layout</h2>

<p>The <strong>layout</strong> itself is the “outside” bits, the parts that stay the same on every page. Maybe the <code class="highlighter-rouge">&lt;head&gt;</code> section with the page title and stylesheet links, any footers, stuff like that.</p>

<p>Here’s a simple one, we’ll call it <code class="highlighter-rouge">layout.html</code>.</p>

<p><strong>layout.html</strong></p>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="cp">&lt;!doctype html&gt;</span>
<span class="nt">&lt;html&gt;</span>
  <span class="nt">&lt;head&gt;</span>
    <span class="nt">&lt;title&gt;</span>New York City Schools<span class="nt">&lt;/title&gt;</span>
  <span class="nt">&lt;/head&gt;</span>
  <span class="nt">&lt;body&gt;</span>
    <span class="nt">&lt;p&gt;&lt;strong&gt;</span>Navigation:<span class="nt">&lt;/strong&gt;</span> <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"/"</span><span class="nt">&gt;</span>Home<span class="nt">&lt;/a&gt;</span> <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"mailto:contact@example.com"</span><span class="nt">&gt;</span>Contact me<span class="nt">&lt;/a&gt;&lt;/p&gt;</span>
    {% block content %}{% endblock %}
    <span class="nt">&lt;p&gt;</span><span class="ni">&amp;copy;</span> 2015 Incredible Schools Site LLC<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span></code></pre></figure>

<p>This page will have “New York City Schools” as the title for every page, along with some painfully simple navigation and a footer.</p>

<p>Pay attention to the <code class="highlighter-rouge">block content</code>/<code class="highlighter-rouge">endblock</code> section! That’s where the content from your page is going to go.</p>

<p>Now you need to <strong>edit your existing template to <em>use</em> the layout</strong>.</p>

<h2 id="step-2-use-your-layout">Step 2. Use your layout</h2>

<p>There are two parts to using your layout:</p>

<ol>
  <li><strong>Use <code class="highlighter-rouge">extends</code>:</strong> add a line at the top of our template to instruct the page to use our layout.</li>
  <li><strong>Adding <code class="highlighter-rouge">block content</code>:</strong> to tell the layout what exact the “content” area is.</li>
</ol>

<p>Let’s say our initial webpage looked like this:</p>

<p><strong>show.html</strong> (pre-layout)</p>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;h1&gt;</span>{{ school.school_name }}<span class="nt">&lt;/h1&gt;</span>
<span class="nt">&lt;p&gt;</span>This school has {{ school.total_students }} total students.<span class="nt">&lt;/p&gt;</span></code></pre></figure>

<p>First we want to tell the template to go look at <code class="highlighter-rouge">layout.html</code>, then we want to take all of our content and wrap is in <code class="highlighter-rouge">block content</code>. The changes will look like this:</p>

<p><strong>show.html</strong> (post-layout)</p>

<figure class="highlight"><pre><code class="language-html" data-lang="html">{% extends "layout.html" %}
{% block content %}
<span class="nt">&lt;h1&gt;</span>{{ school.school_name }}<span class="nt">&lt;/h1&gt;</span>
<span class="nt">&lt;p&gt;</span>This school has {{ school.total_students }} total students.<span class="nt">&lt;/p&gt;</span>
{% endblock %}</code></pre></figure>

<p>Pretty easy, right?</p>

<h2 id="step-3-party-down">Step 3. Party down</h2>

<p>And now titles and navigation should be working on every page! Pretty cool, ‘eh?</p>

<p>If you’d like to take your layouts to the next level, try out <a href="../easily-styling-our-webapp/">easily styling our webapp</a>.</p>


                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        <div class="newsletter-banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
       <p><strong>Want to hear when I release new things?</strong><br />My infrequent and sporadic newsletter can help with that.</p>
       <form style="" action="https://tinyletter.com/jsoma" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/jsoma', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><input type="text" placeholder="email@example.com" name="email" id="tlemail" /> <input type="submit" value="Get updates" /><input type="hidden" value="1" name="embed"/></p></form>
      </div>
    </div>
  </div>
</div>
<footer>
    <div class="footer">
       <div class="container">
         <div class="row">
          <div class="col-sm-12 col-md-6">
            <p><strong>Hi, I'm Soma</strong></p>
            <p>I run a <a href="http://brooklynbrainery.com">fake school in Brooklyn</a> and a <a href="http://ledeprogram.com">data journalism program</a> at Columbia University's Journalism School.</p>
            <p>I also co-host talks about food science and culture in a semi-monthly lecture series called <a href="http://omgmsg.com">Masters of Social Gastronomy</a>. We <a href="https://soundcloud.com/msgpodcast">have a podcast</a> that doesn't get updated nearly often enough, too.</p>
            <p><a href="http://tinyletter.com/jsoma">Sign up for my newsletter</a> and I will <em>definitely</em> disappoint you.</p>
          </div>
          <div class="col-sm-6 col-md-3">
            <p><strong>Track me down</strong></p>
        <ul class="social-media-list">
          
          <li>
            <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
            <a href="mailto:jonathan.soma@gmail.com">jonathan.soma@gmail.com</a>
          </li>

          <li>
            <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
            <a href="mailto:soma@brooklynbrainery.com">soma@brooklynbrainery.com</a>
          </li>

          
          <li>
            <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
            <a href="https://twitter.com/dangerscarf">
              <span class="username">dangerscarf</span>
            </a>
          </li>
          

          <li>
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
            <a href="https://instagram.com/dangerscarf">
              <span class="username">dangerscarf</span>
            </a>
          </li>
          
          
          <li>
            <i class="fa fa-github fa-lg" aria-hidden="true"></i>

            <a href="https://github.com/jsoma">
              <span class="username">jsoma</span>
            </a>
          </li>
          

          <li>
            <i class="fa fa-pencil-square fa-lg" aria-hidden="true"></i>
            <a href="https://tinyletter.com/jsoma">
              <span class="username">jsoma</span>
            </a>
          </li>

        </ul>
          </div>
          <div class="col-sm-6 col-md-3">
            <p><strong>Miscellaneous projects</strong></p>
            <ul>
              <li><a target="_new" href="http://www.handsomeatlas.com/">Handsome Atlas</a></li>
              <li><a target="_new" href="https://dabbles.in/">Dabbler</a></li>
              <li><a target="_new" href="http://vintagevisualizations.com/">Vintage Visualizations</a></li>
              <li><a target="_new" href="http://jonathansoma.com/singles/">Interactive Singles Map</a></li>
              <li><a target="_new" href="http://visualizing.nyc/">visualizing.nyc</a></li>
              <li><a target="_new" href="http://jonathansoma.com/open-source-language-map/">Open-Source Language Map</a></li>
          </div>
        </div>
       </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</footer>
    </div>

      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-5541738-17', 'jonathansoma.com');
      ga('send', 'pageview');

    </script>
      <script>
    function setIframeHeight() {
      var remaining = false,
          iframes = document.getElementsByClassName("iframe-demo");

      for(var i = 0; i < iframes.length; i++) {
        var iframe = iframes[i],
            doc = iframe.contentDocument || iframe.contentWindow.document;

        if(doc.readyState == 'complete') {
          // console.log(doc.body.scrollHeight);
          // console.log(doc.body.offsetHeight);
          // I don't know why scrollHeight gives 150 always
          // but suddenly offsetHeight won't work?
          // 8 pixels padding isn't factored into height?
          iframe.height = doc.body.offsetHeight + 16;
          // iframe.height = doc.body.scrollHeight;
          iframe.width = doc.body.scrollWidth;
        } else {
          console.log("Not ready yet");
          remaining = true;
        }
      }

      setTimeout(setIframeHeight, 1500);

    }

    document.addEventListener("DOMContentReady", setIframeHeight)
    window.addEventListener( "load", setIframeHeight, false );

    </script>

  </body>

</html>
